.pagination{
    text-align: center;
    margin-top: 10px;
}

.pagination input{
    color: black;
    margin-left: 10px;
    text-align: center;
}

.pagination h{
    color: white;
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
