<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streets</title>
</head>
<body>
<div>
    <h1>Streets list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Street</th>
            <th>City id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="street : ${streets}">
            <td th:text="${street.id}"></td>
            <td th:text="${street.street}"></td>
            <td th:text="${street.city.id}"></td>
        </tr>
        <a th:href="'/subscriber'">Next page</a>
        </tbody>
    </table>
</div>
</body>
</html>