<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariff plans</title>
</head>
<body>
<div>
    <h1>Tariff plans list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Abonent payment</th>
            <th>Pricing unit</th>
            <th>Price</th>
            <th>Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tariffPlan : ${tariffPlans}">
            <td th:text="${tariffPlan.id}"></td>
            <td th:text="${tariffPlan.name}"></td>
            <td th:text="${tariffPlan.description}"></td>
            <td th:text="${tariffPlan.abonentPayment}"></td>
            <td th:text="${tariffPlan.pricingUnit.id}"></td>
            <td th:text="${tariffPlan.price}"></td>
            <td th:text="${tariffPlan.currency.id}"></td>
        </tr>
        <a th:href="'/tower'">Next page</a>
        </tbody>
    </table>
</div>
</body>
</html>