<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Address</title>
</head>
<body>
<div align="center">
    <h1>Edit Address</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${address}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="${address.id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Country:</td>
                <td><input type="text" th:field="${address.street.city.country.country}"/></td>
            </tr>
            <tr>
                <td>City:</td>
                <td><input type="text" th:field="${address.street.city.city}"/></td>
            </tr>
            <tr>
                <td>Street:</td>
                <td><input type="text" th:field="${address.street.street}"/></td>
            </tr>
            <tr>
                <td>House:</td>
                <td><input type="text" th:field="${address.house}"/></td>
            </tr>
            <tr>
                <td>Flat:</td>
                <td><input type="text" th:field="${address.flat}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>