<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calls</title>
</head>
<body>
<div>
    <h1>Calls list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Date</th>
            <th>Incoming phone number</th>
            <th>Outgoing phone number</th>
            <th>Duration</th>
            <th>Tower</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="call : ${calls}">
            <td th:text="${call.date}"></td>
            <td th:text="${call.incomingSubscriberList}"></td>
            <td th:text="${call.outgoingSubscriberList}"></td>
            <td th:text="${call.duration}"></td>
            <td th:text="${call.tower}"></td>
            <td th:text="${call.status}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>