<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities</title>
</head>
<body>
<div>
    <h1>Cities list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>City</th>
            <th>Country id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="city: ${cities}">
            <td th:text="${city.id}"></td>
            <td th:text="${city.city}"></td>
            <td th:text="${city.country.id}"></td>
        </tr>
        <a th:href="'/client'">Next page</a>
        </tbody>
    </table>
</div>
</body>
</html>