<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<div>
    <h1>Clients Type list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="client: ${clients}">
            <td th:text="${client.type}"></td>
        </tr>
        <a th:href="'/contract'">Next page</a>
        </tbody>
    </table>
    <span th:if="${totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/client(size=${clients.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==clients.number + 1} ? active"></a>
    </span>
</div>
</body>
</html>