<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit contract</title>
</head>
<body>
<div align="center">
    <h1>Edit contract</h1>
    <br/>
    <form action="#" th:action="@{/save}" th:object="${contract}" method="post">
        <table border="0" cellpadding="10">
            <tr>
                <td>ID:</td>
                <td><input type="text" th:field="${contract.id}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Number:</td>
                <td><input type="text" th:field="${contract.number}"/></td>
            </tr>
            <tr>
                <td>Date:</td>
                <td><input type="text" th:field="${contract.date}"/></td>
            </tr>
            <tr>
                <td>Client type:</td>
                <td><input type="text" th:field="${contract.clientType.type}"/></td>
            </tr>
            <tr>
                <td>Tariff plan:</td>
                <td><input type="text" th:field="${contract.tariffPlan.name}"/></td>
            </tr>
            <tr>
                <td>Description:</td>
                <td><input type="text" th:field="${contract.tariffPlan.description}"/></td>
            </tr>
            <tr>
                <td>Abonent payment:</td>
                <td><input type="text" th:field="${contract.tariffPlan.abonentPayment}"/></td>
            </tr>
            <tr>
                <td>Unit:</td>
                <td><input type="text" th:field="${contract.tariffPlan.pricingUnit.unit}"/></td>
            </tr>
            <tr>
                <td>Price:</td>
                <td><input type="text" th:field="${contract.tariffPlan.price}"/></td>
            </tr>
            <tr>
                <td>Numerical currency code:</td>
                <td><input type="text" th:field="${contract.tariffPlan.currency.numericalCode}"/></td>
            </tr>
            <tr>
                <td>Currency name:</td>
                <td><input type="text" th:field="${contract.tariffPlan.currency.name}"/></td>
            </tr>
            <tr>
                <td>Currency code:</td>
                <td><input type="text" th:field="${contract.tariffPlan.currency.code}"/></td>
            </tr>
            <tr>
                <td>Discount:</td>
                <td><input type="text" th:field="${contract.discount}"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <button type="submit">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>