<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contracts</title>
</head>
<body>
<div>
    <h1>Contracts list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Local Date</th>
            <th>Number</th>
            <th>Client Type</th>
            <th>Tariff Plan</th>
            <th>Discount</th>
            <th>Subscriber</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contract: ${contracts}">
            <td th:text="${contract.date}"></td>
            <td th:text="${contract.number}"></td>
            <td th:text="${contract.clientType}"></td>
            <td th:text="${contract.tariffPlan}"></td>
            <td th:text="${contract.discount}"></td>
            <td th:text="${contract.subscriber}"></td>
            <a th:href="'/country'">Next page</a>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>