<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Contract Editing</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet"/>
    <link th:href="@{/style/userEditing/table.css}" rel="stylesheet"/>
    <link th:href="@{/style/userEditing/buttons.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="blocks/header :: header"/>
<br/>
<form class="table" id="scroll" th:action="@{/contract/save}" th:object="${contract}" th:method="post">
    <h1>Contract Editing</h1>
    <input type="hidden" th:field="*{id}" readonly="readonly"/>
    <input type="text" th:field="*{number}" th:placeholder="number" required/>
    <input type="date" th:field="*{date}" th:placeholder="date" required/>
    <input type="text" th:field="*{clientType.type}" th:placeholder="type" required/>
    <input type="text" th:field="*{tariffPlan.name}" th:placeholder="name" required/>
    <input type="hidden" th:field="*{tariffPlan.id}" readonly="readonly"/>
    <input type="text" th:field="*{tariffPlan.description}" th:placeholder="description" required/>
    <input type="text" th:field="*{tariffPlan.abonentPayment}" th:placeholder="abonent_payment"
           min="0" pattern="\d+(\.\d{2})?" title="0.00" required/>
    <input type="hidden" th:field="*{tariffPlan.pricingUnit.id}" readonly="readonly"/>
    <input type="text" th:field="*{tariffPlan.pricingUnit.unit}" th:placeholder="unit" required/>
    <input type="text" th:field="*{tariffPlan.price}" th:placeholder="price"
           min="0" pattern="\d+(\.\d{2})?" title="0.00" required/>
    <input type="hidden" th:field="*{tariffPlan.currency.id}" readonly="readonly"/>
    <input type="number" th:field="*{tariffPlan.currency.numericalCode}" th:placeholder="currency_numerical_code" required/>
    <input type="text" th:field="*{tariffPlan.currency.name}" th:placeholder="currency_name" required/>
    <input type="text" th:field="*{tariffPlan.currency.code}" th:placeholder="currency_code" required/>
    <input type="number" th:field="*{discount}" th:placeholder="discount"/>

    <input type="submit" name="" value="Save">
</form>
</body>
</html>