<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet"/>
    <link th:href="@{/style/tables/table.css}" rel="stylesheet"/>
    <link th:href="@{/style/tables/pagination.css}" rel="stylesheet"/>
</head>
<body>

<header th:insert="blocks/header :: header"/>

<div class="table" id="scroll">
    <a th:href="'/currency'">Next page</a>
    <h1>Countries list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${country.country}"></td>
            <td>
                <a th:href="@{'/country/edit/' + ${country.id}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <form th:action="@{/country(size=${countries.size}, page=${page})}">
            <input type="number" th:name="page" th:value="${numberPage}" min="1" th:max="${quantityPage}">
            <h>/</h>
            <h th:text="${quantityPage}"/>
        </form>
    </div>

</div>
</body>
</html>