<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
</head>
<body>
<div>
    <h1>Countries list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Country</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countries}">
            <td th:text="${country.country}"></td>
        </tr>
        <a th:href="'/currency'">Next page</a>
        </tbody>
    </table>
    <span th:if="${totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/country(size=${countries.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==countries.number + 1} ? active"></a>
    </span>
</div>
</body>
</html>