<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet" />
    <link th:href="@{/style/home/table.css}" rel="stylesheet" />
    <link th:href="@{/style/home/search.css}" rel="stylesheet" />
    <link th:href="@{/style/generatingButtonStyle.css}" rel="stylesheet" />
</head>
<body>

    <header th:insert="blocks/header :: header"/>

    <div class="table" id="scroll">
        <table>
            <thead>
                <tr>
                    <td> № </td>     <!--  unresolved numbering problem -->
                    <td> Date </td>
                    <td> Incoming </td>
                    <td> Outgoing </td>
                    <td> Duration </td>
                    <td> Tower </td>
                    <td> Status </td>
                </tr>
            </thead>
            <div th:each="el : ${user}">
                <tr class="user">
                    <td th:text="${el.}"/>     <!--  unresolved numbering problem -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                    <td th:text="${el.}"/>     <!--  set value & delete this comment  -->
                </tr>
            </div>
        </table>

        <div class="pagination">    <!--   need to think about improving   -->
            <a href="#">«</a>
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">»</a>
        </div>
    </div>

    <form class="search" action="#" method="">  <!-- set action & method & delete this comment -->
        <div>
            <input type="number" name="quantity" placeholder="Quantity" >
            <input type="text" name="fromDate" placeholder="From Data" value="">
            <input type="text" name="beforeDate" placeholder="Before Data" value="">
        </div>
        <div>
            <input type="submit" value="Generate">
        </div>
    </form>

    <div class="genBut">
        <form action="#" method="" >    <!-- set action & method & delete this comment -->
            <input class="generation" type="submit" name="" value="Generating 1 million factors">
        </form>
    </div>

</body>
</html>
