<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Log In</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../style/loginPageStyle.css" th:href="@{/style/loginPageStyle.css}">
</head>
<body>
<form class="box" method="post">
    <h1>Login</h1>
    <input type="text" name="login" placeholder="Login" value="" required >
    <input type="password" name="password" placeholder="Password" value="" required>
    <input type="submit" name="" value="Login">
</form>
</body>
</html>

