<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passports</title>
</head>
<body>
<div>
    <h1>Passports list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id number</th>
            <th>Series number</th>
            <th>Date</th>
            <th>Issuer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passport : ${passports}">
            <td th:text="${passport.idNumber}"></td>
            <td th:text="${passport.seriesNumber}"></td>
            <td th:text="${passport.date}"></td>
            <td th:text="${passport.issuer}"></td>
        </tr>
        <a th:href="'/pricingUnit'">Next page</a>
        </tbody>
    </table>
</div>
</body>
</html>