<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Passports</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet" />
    <link th:href="@{/style/tables/table.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"/>

<div class="table" id="scroll">
    <a th:href="'/pricing-unit'">Next page</a>
    <h1>Passports list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Id number</th>
            <th>Series number</th>
            <th>Date</th>
            <th>Issuer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="passport : ${passports}">
            <td th:text="${passport.idNumber}"></td>
            <td th:text="${passport.seriesNumber}"></td>
            <td th:text="${passport.date}"></td>
            <td th:text="${passport.issuer}"></td>
            <td>
                <a th:href="@{'/passport/edit/' + ${passport.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/passport/delete/' + ${passport.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <span th:if="${totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/passport(size=${passports.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==passports.number + 1} ? active"></a>
    </span>
</div>
</body>
</html>