<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pricing units</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet"/>
    <link th:href="@{/style/tables/table.css}" rel="stylesheet"/>
    <link th:href="@{/style/tables/pagination.css}" rel="stylesheet"/>
</head>
<body>

<header th:insert="blocks/header :: header"/>

<div class="table" id="scroll">
    <a th:href="'/status'">Next page</a>
    <h1>Pricing units list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Unit</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pricingUnit : ${pricingUnits}">
            <td th:text="${pricingUnit.unit}"></td>
            <td>
                <a th:href="@{'/pricing-unit/edit/' + ${pricingUnit.id}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="pagination">
        <form th:action="@{/pricing-unit(size=${pricingUnits.size}, page=${page})}">
            <input type="number" th:name="page" th:value="${numberPage}" min="1" th:max="${quantityPage}">
            <h>/</h>
            <h th:text="${quantityPage}"/>
        </form>
    </div>

</div>
</body>
</html>