<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Sing In</title>
    <link rel="stylesheet" type="text/css" href="../static/style/logStyle.css">
    <link rel="stylesheet" th:href="@{/enter/enter.css}">
</head>
<body>

    <form class="box" action="#" method="">    <!-- set action & method & delete this comment -->
        <h1>Registration</h1>
        <input type="text" name="name" placeholder="Username" value="" required >
        <input type="password" name="password" placeholder="Password" value="" required>
        <input type="submit" name="" value="Register">
        <a href="#">Login</a>   <!-- set href & delete this comment -->
    </form>

</body>
</html>