<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
<!--    <title>Sing In</title>-->
<!--    <link th:href="@{/style/enter/enter.css}" rel="stylesheet" />-->
<!--</head>-->
<!--<body>-->

<!--    <form class="box" action="#" method="">    &lt;!&ndash; set action & method & delete this comment &ndash;&gt;-->
<!--        <h1>Registration</h1>-->
<!--        <input type="text" name="name" placeholder="Username" value="" required >-->
<!--        <input type="password" name="password" placeholder="Password" value="" required>-->
<!--        <input type="submit" name="" value="Register">-->
<!--        <a href="login">Login</a>   &lt;!&ndash; set href & delete this comment &ndash;&gt;-->
<!--    </form>-->

<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#message}}
{{message}}
{{/message}}
<form action="/registration" method="post">
    <div><label> User Name : <input type="text" name="user"/> </label></div>
    <div><label> Password: <input type="password" name="pass"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>