<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Streets</title>
</head>
<body>
<div>
    <h1>Streets list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="street : ${streets}">
            <td th:text="${street.city.country.country}"></td>
            <td th:text="${street.city.city}"></td>
            <td th:text="${street.street}"></td>
        </tr>
        <a th:href="'/subscriber'">Next page</a>
        </tbody>
    </table>
    <span th:if="${totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/street(size=${streets.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==streets.number + 1} ? active"></a>
    </span>
</div>
</body>
</html>