<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tariff plan Editing</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet"/>
    <link th:href="@{/style/userEditing/table.css}" rel="stylesheet"/>
    <link th:href="@{/style/userEditing/buttons.css}" rel="stylesheet"/>
</head>
<body>
<header th:insert="blocks/header :: header"/>
<br/>
<form class="table" id="scroll" th:action="@{/tariff-plan/save}" th:object="${tariffPlan}" th:method="post">
    <h1>Tariff plan Editing</h1>
    <input type="hidden" th:field="*{id}" readonly="readonly"/>
    <input type="text" th:field="*{name}" th:placeholder="name" required/>
    <input type="text" th:field="*{description}" th:placeholder="description"/>
    <input type="text" th:field="*{abonentPayment}" th:placeholder="abonent_payment" min="0"
           pattern="\d+(\.\d{2})?" title="0.00" required/>
    <input type="hidden" th:field="*{pricingUnit.id}" readonly="readonly"/>
    <input type="text" th:field="*{pricingUnit.unit}" th:placeholder="unit" required/>
    <input type="text" th:field="*{price}" th:placeholder="price" min="0" pattern="\d+(\.\d{2})?" title="0.00" required/>
    <input type="hidden" th:field="*{currency.id}" readonly="readonly"/>
    <input type="number" th:field="*{currency.numericalCode}" th:placeholder="numerical_code" required/>
    <input type="text" th:field="*{currency.name}" th:placeholder="name" required/>
    <input type="text" th:field="*{currency.code}" th:placeholder="code" required/>

    <input type="submit" name="" value="Save">
</form>
</body>
</html>