<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Towers</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet"/>
    <link th:href="@{/style/tables/table.css}" rel="stylesheet"/>
</head>
<body>

<header th:insert="blocks/header :: header"/>

<div class="table" id="scroll">
    <a th:href="'/address'">Next page</a>
    <h1>Towers list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Tower name</th>
            <th>Country</th>
            <th>City Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tower : ${towers}">
            <td th:text="${tower.name}"></td>
            <td th:text="${tower.locationCity.country.country}"></td>
            <td th:text="${tower.locationCity.city}"></td>
            <td>
                <a th:href="@{'/tower/edit/' + ${tower.id}}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>

    <span th:if="${totalPages > 0}"
          th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/tower(size=${towers.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==towers.number + 1} ? active"></a>
    </span>
</div>
</body>
</html>