<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Towers</title>
</head>
<body>
<div>
    <h1>Towers list</h1>
    <table border="1">
        <thead>
        <tr>
            <th>City Location</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tower : ${towers}">
            <td th:text="${tower.locationCity}"></td>
            <td th:text="${tower.calls}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>