<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>User Editing</title>
    <link th:href="@{/style/blocks/headerStyle.css}" rel="stylesheet" />
    <link th:href="@{/style/userEditing/table.css}" rel="stylesheet" />
    <link th:href="@{/style/userEditing/buttons.css}" rel="stylesheet" />
  </head>
<body>

    <header th:insert="blocks/header :: header"/>

    <form class="table" id="scroll" th:action="@{/subscriber/save}" th:object="${subscriber}" th:method="post">
        <h1>User Editing</h1>
        <input type="hidden" name="phone_number" placeholder="Phone number" th:field="*{phoneNumber}" min="0" title="Phone number" required/>
        <input type="text" name="last_name" placeholder="Last Name" th:field="*{lastName}" title="Last Name" required/>
        <input type="text" name="first_name" placeholder="First Name" th:field="*{firstName}"  title="First Name" required/>
        <input type="hidden" name="" placeholder="Passport number" th:field="*{passport.idNumber}" min="0" title="Passport number" required/>
        <input type="number" name="" placeholder="Passport series" th:field="*{passport.seriesNumber}" min="0" title="Passport series" required/>
        <input type="date" name="" placeholder="Passport date" th:field="*{passport.date}" required/>
        <input type="text" name="" placeholder="Passport issuer" th:field="*{passport.issuer}"  title="Passport issuer" required/>
        <input type="text" name="" placeholder="Country" th:field="*{address.street.city.country.country}"  title="Country" required/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{address.street.city.id}"/>
        <input type="text" name="" placeholder="City" th:field="*{address.street.city.city}"  title="City" required/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{address.id}"/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{address.street.id}"/>
        <input type="text" name="" placeholder="Street" th:field="*{address.street.street}"  title="Street" required/>
        <input type="number" name="" placeholder="House" th:field="*{address.house}" min="0" title="House" required/>
        <input type="number" name="" placeholder="Flat" th:field="*{address.flat}" min="0" title="Flat"/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{contract.id}"/>
        <input type="number" name="" placeholder="Contract number" th:field="*{contract.number}" min="0" title="Contract number" required/>
        <input type="date" name="" placeholder="Contract date" th:field="*{contract.date}" required/>
        <input type="text" name="" placeholder="Client type" th:field="*{contract.clientType.type}"  title="Client type" required/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{contract.tariffPlan.id}"/>
        <input type="text" name="" placeholder="Tariff plan" th:field="*{contract.tariffPlan.name}"  title="Tariff plan" required/>
        <input type="text" name="" placeholder="Abonent payment" th:field="*{contract.tariffPlan.abonentPayment}" min="0" pattern="\d+(\.\d{2})?" title="0.00" required/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{contract.tariffPlan.pricingUnit.id}"/>
        <input type="text" name="" placeholder="Unit" th:field="*{contract.tariffPlan.pricingUnit.unit}"  title="Unit" required/>
        <input type="text" name="" placeholder="Price" th:field="*{contract.tariffPlan.price}" min="0" pattern="\d+(\.\d{2})?" title="0.00" required/>
        <input type="text" name="" placeholder="Passport issuer" th:field="*{contract.tariffPlan.currency.id}"/>
        <input type="number" name="" placeholder="Currency numerical code" th:field="*{contract.tariffPlan.currency.numericalCode}" min="0" title="Currency numerical code" required/>
        <input type="text" name="" placeholder="Currency name" th:field="*{contract.tariffPlan.currency.name}"  title="Currency name" required/>
        <input type="text" name="" placeholder="Currency code" th:field="*{contract.tariffPlan.currency.code}"  title="Currency code" required/>
        <input type="hidden" name="" placeholder="Discount" th:field="*{contract.discount}" min="0" title="Discount" required/>
        <input type="hidden" name="" placeholder="Passport issuer" th:field="*{mobileOperator.id}"/>
        <input type="text" name="" placeholder="Mobile operator" th:field="*{mobileOperator.operator}" title="Mobile operator" required/>
        <input type="number" name="" placeholder="Operator code" th:field="*{mobileOperator.code}" min="0" title="Operator code" required/>
        <input type="text" name="" placeholder="Email" th:field="*{email}" title="Email"/>
        <input type="date" name="" placeholder="Birthday" th:field="*{birthday}" title="Birthday" required/>

        <input type="submit" name="" value="Save">
    </form>

</body>
</html>
