<div th:fragment="header">
  <div class="header">
    <form action="#" method="">   <!-- set action & method & delete this comment -->
      <input class="headerButton" type="submit" name="" value="Log Out">
    </form>
    <form action="#" method="">   <!-- set action & method & delete this comment -->
      <input class="headerButton" type="submit" name="" value="User editing">
    </form>
    <form action="#" method="">   <!-- set action & method & delete this comment -->
      <input class="headerButton" type="submit" name="" value="Adding User">
    </form>
    <form action="#" method="">   <!-- set action & method & delete this comment -->
      <input class="headerButton" type="submit" name="" value="Home">
    </form>
  </div>
</div>
